@import url('abstract/variables.css');

@import url('base/normalize.css');
@import url('base/typography.css');

@import url('layout/footer.css');
@import url('layout/global.css');
@import url('layout/header.css');
@import url('layout/nav.css');

@import url('pages/home.css');
@import url('pages/gallery.css');
@import url('pages/contact.css');
@import url('pages/news.css');
@import url('pages/about.css');
@import url('pages/testimonial.css');
